In [2]:
import pandas as pd
import numpy as np

INITIALISATION(RESET FOR USERS)

In [1]:
#dic={'USERNAME':['LIBRARY'],'PASSWORD':['@lib@#']}
#df_user=pd.DataFrame(dic)
#df_user.to_csv('USER_LIST.csv',index=False)

In [4]:
df_user=pd.read_csv('USER_LIST.csv')
df_user

  USERNAME PASSWORD
0  LIBRARY   @lib@#
1    rahul     1234
2   sanket     3323
3   subham     0990
4    avnit     3223
5   ramesh     4331

USER ADD
--

In [5]:
def add_user():
    df_user=pd.read_csv('USER_LIST.csv')
    
    
    
    while True:
        usern=input('Enter the new user name: ')
        if usern not in list(df_user['USERNAME']):
            userp=input('New password: ')

            
            if userp=='':
                print('password cannot be empty')
                break
                    
            else:
                x=df_user['USERNAME'].size
                df_user.loc[x]=[usern.lower(),userp]
                df_user.to_csv('USER_LIST.csv',index=False)
                break
        else:
            print(f'User with same name exists \n \n please try using {usern}1 or similiar')
            continue

USER DELETION
--

In [6]:
def delete_user():
    df_user=pd.read_csv('USER_LIST.csv')
    
    un=input('Enter Name to be deleted: ')
    up=input('Enter the password: ')
    
    x=df_user[(df_user.USERNAME==un) & (df_user.PASSWORD==up)]
    if x.empty==True:
        print('\n \n Invalid Entry')
    else:
        df_user.drop(x.index,inplace=True)
        df_user.to_csv('USER_LIST.csv',index=False)
        print('USER DELETED SUCCESSFULLY')

CONTINUOUS USER ADDITION
--

In [7]:
def cont_useradd():
    while True:
        s=input('Do u want to add user(y/n): ')
        if s=='n':
            break
        elif s=='y':
            add_user()
        else:
            print('Incorrect input')
            continue

IMPLEMENTATION
--

In [18]:
while True:
    x=input('Do You Want to Add/Remove Users of The Library(Y/N): ')
    if x.lower()=='y':
        print('''
             OPERATIONS AVAILABLE:
             1. ADD A USER
             2. REMOVE A USER
             3. ADD MULTIPLE USERS ''')

        print('\n\n')

        op=input('Please select your desired option (1/2/3): ')

        if op=='1':
            add_user()
        elif op=='2':
            delete_user()
        elif op=='3':
            cont_useradd()
        else:
            print('INVALID OPTION CHOOSEN')
    elif x.lower()=='n':
        print('THANK YOU')
        break
    else:
        print('Invalid Choice')
        continue

Do You Want to Add/Remove Users of The Library(Y/N): y

             OPERATIONS AVAILABLE:
             1. ADD A USER
             2. REMOVE A USER
             3. ADD MULTIPLE USERS



Please select your desired option (1/2/3): 2
Enter Name to be deleted: fukru
Enter the password: 1223


 Invalid Entry
Do You Want to Add/Remove Users of The Library(Y/N): y

             OPERATIONS AVAILABLE:
             1. ADD A USER
             2. REMOVE A USER
             3. ADD MULTIPLE USERS



Please select your desired option (1/2/3): 2
Enter Name to be deleted: fukru
Enter the password: 23445
USER DELETED SUCCESSFULLY
Do You Want to Add/Remove Users of The Library(Y/N): n
THANK YOU